alacritty
blueman
bsdutils
btop
ca-certificates
code
containerd.io
curl
dash
diffutils
docker-buildx-plugin
docker-ce
docker-ce-cli
docker-compose
docker-compose-plugin
efibootmgr
fastfetch
feh
findutils
fonts-font-awesome
gcc
git
grep
grub-efi-amd64
grub-efi-amd64-signed
gtk2-engines-murrine
gzip
hostname
htop
hunspell-fr
hyphen-fr
i3
ibus-table-cangjie3
ibus-table-cangjie5
ibus-table-cangjie-big
init
language-pack-fr
language-pack-fr-base
language-pack-gnome-fr
language-pack-gnome-fr-base
libchewing3
libchewing3-data
libm17n-0
libmarisa0
libnotify-bin
libopencc1.1
libopencc-data
libotf1
libpinyin15
libpinyin-data
libqt5svg5
libreoffice-help-common
libreoffice-help-fr
libreoffice-l10n-fr
light
linux-generic-hwe-24.04
locate
login
luarocks
m17n-db
mpd
mythes-fr
ncmpcpp
ncurses-base
ncurses-bin
nemo
picom
polybar
python3-netifaces
python3-pip
python-black-doc
qml6-module-qt5compat-graphicaleffects
qml-module-qtgraphicaleffects
qml-module-qtquick-controls
qml-module-qtquick-controls2
qt5-qmltooling-plugins
qt5-style-plugins
qtquickcontrols2-5-dev
ranger
rofi
sassc
sddm
shim-signed
slack-desktop
spotify-client
sur5r-keyring
vim
virtualenv
zsh
